---
layout: single
---
<h3 style="font-size:17px">About me</h3>
<p style="font-size:15px">My name is Yu-Chih Huang.<br>
I graduated with a bachelor's degree in mechanical engineering from National Taiwan University.
I obtained my master's degree from TU Delft with a specialization in BioRobotics.</p>
<p style="font-size:15px">I am an engineer with interests in control and automation, especially in the aspect of robotics.<br>
I am a young professional that takes responsibilites and aims for going beyond expectations.</p>

